# Pandas - DataFrames

In [43]:
import numpy as np
import pandas as pd

In [44]:
from numpy.random import randn

In [45]:
np.random.seed(101)

In [46]:
df = pd.DataFrame(randn(5,4), ['A', 'B', 'C', 'D', 'E'], ['W', 'X', 'Y', 'Z'])

In [47]:
df

,W,X,Y,Z
A,2.706850,0.628133,0.907969,0.503826
B,0.651118,-0.319318,-0.848077,0.605965
C,-2.018168,0.740122,0.528813,-0.589001
D,0.188695,-0.758872,-0.933237,0.955057
E,0.190794,1.978757,2.605967,0.683509

In [48]:
df['W']

In [49]:
type(df['W'])

pandas.core.series.Series

In [50]:
type(df)

pandas.core.frame.DataFrame

In [51]:
df.W

In [52]:
df[['W', 'Z']]

,W,Z
A,2.706850,0.503826
B,0.651118,0.605965
C,-2.018168,-0.589001
D,0.188695,0.955057
E,0.190794,0.683509

In [53]:
df['new'] = df['W'] + df['Y']

In [54]:
df

,W,X,Y,Z,new
A,2.706850,0.628133,0.907969,0.503826,3.614819
B,0.651118,-0.319318,-0.848077,0.605965,-0.196959
C,-2.018168,0.740122,0.528813,-0.589001,-1.489355
D,0.188695,-0.758872,-0.933237,0.955057,-0.744542
E,0.190794,1.978757,2.605967,0.683509,2.796762

In [55]:
# drop column
# axis - why rows is 0 and column is 1
# reference comes back to numpy since dataframes are essentially a fancy index markers on top of numpy array
df.drop('new', axis=1, inplace=True)

In [34]:
df

,W,X,Y,Z
A,2.706850,0.628133,0.907969,0.503826
B,0.651118,-0.319318,-0.848077,0.605965
C,-2.018168,0.740122,0.528813,-0.589001
D,0.188695,-0.758872,-0.933237,0.955057
E,0.190794,1.978757,2.605967,0.683509

In [35]:
# drop row
df.drop('E')

,W,X,Y,Z
A,2.706850,0.628133,0.907969,0.503826
B,0.651118,-0.319318,-0.848077,0.605965
C,-2.018168,0.740122,0.528813,-0.589001
D,0.188695,-0.758872,-0.933237,0.955057

In [36]:
df

,W,X,Y,Z
A,2.706850,0.628133,0.907969,0.503826
B,0.651118,-0.319318,-0.848077,0.605965
C,-2.018168,0.740122,0.528813,-0.589001
D,0.188695,-0.758872,-0.933237,0.955057
E,0.190794,1.978757,2.605967,0.683509

In [37]:
# (5, 4) rows is 0 axis while y is 1 axis
df.shape

(5, 4)

In [39]:
# selecting rows
df

,W,X,Y,Z
A,2.706850,0.628133,0.907969,0.503826
B,0.651118,-0.319318,-0.848077,0.605965
C,-2.018168,0.740122,0.528813,-0.589001
D,0.188695,-0.758872,-0.933237,0.955057
E,0.190794,1.978757,2.605967,0.683509

In [41]:
df.loc['C']

In [42]:
df.iloc[2]

In [56]:
# [row, column]
df.loc['B', 'Y']

-0.8480769834036315

In [57]:
df.loc[['A', 'B'], ['W', 'Y']]

,W,Y
A,2.706850,0.907969
B,0.651118,-0.848077