In [1]:
import pandas as pd
df = pd.DataFrame({'col1':[1,2,3,4],'col2':[444,555,666,444],'col3':['abc','def','ghi','xyz']})
df.head()

,col1,col2,col3
0,1,444,abc
1,2,555,def
2,3,666,ghi
3,4,444,xyz

In [2]:
df['col2'].unique()

In [3]:
len(df['col2'].unique())

3

In [4]:
df['col2'].nunique()

3

In [5]:
df['col2'].value_counts()

In [6]:
df[df['col1']>2]

,col1,col2,col3
2,3,666,ghi
3,4,444,xyz

In [10]:
df[(df['col1']>2) & (df['col2'] == 444)]

,col1,col2,col3
3,4,444,xyz

In [12]:
def times2(x):
    return x*2

In [13]:
df['col1'].sum()

10

In [14]:
df['col1'].apply(times2)

In [16]:
df['col3'].apply(len)

In [18]:
df['col2'].apply(lambda x: x*2)

In [19]:
df.drop('col1', axis=1)

,col2,col3
0,444,abc
1,555,def
2,666,ghi
3,444,xyz

In [20]:
df.columns

Index(['col1', 'col2', 'col3'], dtype='object')

In [22]:
df.index

RangeIndex(start=0, stop=4, step=1)

In [23]:
df

,col1,col2,col3
0,1,444,abc
1,2,555,def
2,3,666,ghi
3,4,444,xyz

In [24]:
df.sort_values('col2')

,col1,col2,col3
0,1,444,abc
3,4,444,xyz
1,2,555,def
2,3,666,ghi

In [25]:
df.isnull()

,col1,col2,col3
0,False,False,False
1,False,False,False
2,False,False,False
3,False,False,False

In [31]:
data = {'A':['foo','foo','foo','bar','bar','bar'],
     'B':['one','one','two','two','one','one'],
       'C':['x','y','x','y','x','y'],
       'D':[1,3,2,5,4,1]}

df = pd.DataFrame(data)

In [32]:
df

,A,B,C,D
0,foo,one,x,1
1,foo,one,y,3
2,foo,two,x,2
3,bar,two,y,5
4,bar,one,x,4
5,bar,one,y,1

In [34]:
df.pivot_table(values='D', index=['A', 'B'], columns=['C'])